[ONYXIX]
disableMDIScrollbars=TRUE
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXW.env
escapeparams=true
form=ErpMnu.FMX
userid=
debug=no
host= DATABASE-LABAN
port=8888
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=OnyxIX-Ultimate Solutions Ltd
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1024
#height=700
height=768
separateFrame=true
splashScreen=splash_B02.gif
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=onyx_logo_21.png
lookAndFeel=Oracle
colorScheme=swan
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
archive=jicons.jar,frmall.jar,frmwebutil.jar,jacob.jar,colorpicker.jar,JCalendarJinit.jar,jcalendar.jar,calendar.jar,FormsGraph.jar,accordion.jar,ComboMenuBar.jar,Calculator.jar,banner.jar,archivesicons.jar,YSArcUtl.jar,arcicons.jar,SystemTray.jar,JErpIcon.jar,commons-logging-1.1.3.jar,clientprint.jar,ystools.jar,onyxix_pos.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=off
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
MaxEventwait=2000
networkRetries=0
# Page displayed to users to allow them to download Sun's Java Plugin.
# Sun's Java Plugin is typically used for non-Windows clients.
# (NOTE: you should check this page and possibly change the settings)
#jpi_download_page=http://java.sun.com/products/archive/j2se/6u18/index.html
#jpi_download_page=http://java.sun.com/products/archive/j2se/6u12/index.html
#jpi_download_page=http://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase7-521261.htmljre-7u76-oth-JPR
#jpi_download_page=http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
# Parameter related to the version of the Java Plugin
#jpi_classid=clsid:CAFEEFAC-0016-0000-0018-ABCDEFFEDCBA
#jpi_classid=clsid:CAFEEFAC-0016-0000-0012-ABCDEFFEDCBA
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
# Parameter related to the version of the Java Plugin
#jpi_codebase=http://java.sun.com/update/1.6.0/jinstall-6-windows-i586.cabVersion=1,6,0,18
#jpi_codebase=http://java.sun.com/update/1.6.0/jinstall-6-windows-i586.cabVersion=1,6,0,12
#jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-7u76-windows-i586.exeVersion=1,7,0,76
#jpi_codebase=http://javadl.oracle.com/webapps/download/GetFile/1.8.0_121-b18/windows-i586/jre-8u121-windows-au.exe
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
# Parameter related to the version of the Java Plugin
#jpi_mimetype=application/x-java-applet;jpi-version=1.6.0_18
#jpi_mimetype=application/x-java-applet;jpi-version=1.6.0_12
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
# Applet parameter for Sun's Java Plugin
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false

[IX]
disableMDIScrollbars=TRUE
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXWA.env
escapeparams=true
form=ERP_DBA_SYS.FMX
userid=
debug=no
host= DATABASE-LABAN
port=8888
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=OnyxIX-Ultimate Solutions Ltd
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1024
#height=700
height=768
separateFrame=true
splashScreen=splash_B02.gif
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=onyx_logo_21.png
lookAndFeel=Oracle
colorScheme=swan
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
archive=jicons.jar,frmall.jar,frmwebutil.jar,jacob.jar,colorpicker.jar,JCalendarJinit.jar,jcalendar.jar,calendar.jar,FormsGraph.jar,accordion.jar,ComboMenuBar.jar,Calculator.jar,banner.jar,archivesicons.jar,YSArcUtl.jar,arcicons.jar,SystemTray.jar,JErpIcon.jar,commons-logging-1.1.3.jar,clientprint.jar,ystools.jar,onyxix_pos.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=off
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
MaxEventwait=2000
networkRetries=0
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false

[ERP_RP]
disableMDIScrollbars=TRUE
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXW.env
escapeparams=true
form=ERP_RPRT.FMX
userid=
debug=no
host= DATABASE-LABAN
port=8888
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=OnyxIX-Ultimate Solutions Ltd
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1024
#height=700
height=768
separateFrame=true
splashScreen=splash_B02.gif
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=onyx_logo_21.png
lookAndFeel=Oracle
colorScheme=swan
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
archive=jicons.jar,frmall.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=off
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
MaxEventwait=2000
networkRetries=0
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false

[ONYXIX_POS_MN]
disableMDIScrollbars=TRUE
MaxEventWait=2000
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXWPOSMN.env
escapeparams=true
form=POS_INSTLL.fmx
userid=
debug=no
host=localhost
port=9001
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=ONYX-IX POS MAIN-SERVER LOG INSTLL
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1366
#height=700
height=768
separateFrame=TRUE
#splashScreen=ONYX_GIF01.gif
splashScreen=no
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=
lookAndFeel=Oracle
colorScheme=swan
#logo=IX_Trans_Logo.png
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
#archive=frmall.jar,jicons.jar,myico.jar,myicons.jar,additem2.jar,frmwebutil.jar,jacob.jar,dynamicmenu.jar
archive=NewErpIcon.jar,jicons.jar,frmall.jar,frmwebutil.jar,jacob.jar,colorpicker.jar,FormsGraph.jar,accordion.jar,Calculator.jar,banner.jar,archivesicons.jar,YSArcUtl.jar,arcicons.jar,SystemTray.jar,JErpIcon.jar,ystools.jar,onyxix_pos.jar,onyxix_hms.jar,commons-logging-1.2.jar,PrintBean.jar,OnyxIXUIBean.jar,CalenderFxBean.jar,ExelBeanJson.jar,ExelBean.jar,keypressed.jar,bean_timer.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=on
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
logging.file=C:\Temp\3\webutil.log
logging.enabled=TRUE
logging.errorsonly=FALSE
MaxEventwait=2000
networkRetries=0
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false

[ONYXIX_POS_OFF]
disableMDIScrollbars=TRUE
MaxEventWait=2000
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXWPOSOFF.env
escapeparams=true
form=POS_INSTLL.fmx
userid=
debug=no
host=localhost
port=9001
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=ONYX-IX POS SUB-SERVER INSTLL
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1366
#height=700
height=768
separateFrame=TRUE
#splashScreen=ONYX_GIF01.gif
splashScreen=no
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=
lookAndFeel=Oracle
colorScheme=swan
#logo=IX_Trans_Logo.png
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
#archive=frmall.jar,jicons.jar,myico.jar,myicons.jar,additem2.jar,frmwebutil.jar,jacob.jar,dynamicmenu.jar
archive=NewErpIcon.jar,jicons.jar,frmall.jar,frmwebutil.jar,jacob.jar,colorpicker.jar,FormsGraph.jar,accordion.jar,Calculator.jar,banner.jar,archivesicons.jar,YSArcUtl.jar,arcicons.jar,SystemTray.jar,JErpIcon.jar,ystools.jar,onyxix_pos.jar,onyxix_hms.jar,commons-logging-1.2.jar,PrintBean.jar,OnyxIXUIBean.jar,CalenderFxBean.jar,ExelBeanJson.jar,ExelBean.jar,keypressed.jar,bean_timer.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=on
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
logging.file=C:\Temp\3\webutil.log
logging.enabled=TRUE
logging.errorsonly=FALSE
MaxEventwait=2000
networkRetries=0
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false

[ONYXIX_POS]
disableMDIScrollbars=TRUE
MaxEventWait=2000
clientDPI=90
baseHTML=base.htm
baseHTMLjpi=basejpi.htm
HTMLdelimiter=%
envFile=ONYXWPOS.env
escapeparams=true
form=ErpMnu.fmx
userid=
debug=no
host=localhost
port=9001
digitSubstitution=context
otherparams=obr=%obr% record=%record% tracegroup=%tracegroup% log=%log% term=%term% ssoProxyConnect=%ssoProxyConnect%
obr=no
record=
tracegroup=
log=
term=
pageTitle=ONYX-IX POS
HTMLbodyAttrs=
HTMLbeforeForm=
HTMLafterForm=
serverURL=/forms/lservlet
codebase=/forms/java
# Forms applet parameter
imageBase=codebase
#width=750
#width=940
width=1366
#height=700
height=768
separateFrame=TRUE
#splashScreen=ONYX_GIF01.gif
splashScreen=no
allowAlertClipboard=true
disableValidateClipboard=false
highContrast=false
background=
lookAndFeel=Oracle
colorScheme=swan
#logo=IX_Trans_Logo.png
logo=no
restrictedURLparams=pageTitle,HTMLbodyAttrs,HTMLbeforeForm,HTMLafterForm,log
formsMessageListener=
recordFileName=
serverApp=default
WEBUTIL_CONFIG=D:\oracle\ofm\ofr\asinst1\config\FormsComponent\forms\server\webutil.cfg
#archive=frmall.jar,jicons.jar,myico.jar,myicons.jar,additem2.jar,frmwebutil.jar,jacob.jar,dynamicmenu.jar
archive=NewErpIcon.jar,jicons.jar,frmall.jar,frmwebutil.jar,jacob.jar,colorpicker.jar,FormsGraph.jar,accordion.jar,Calculator.jar,banner.jar,archivesicons.jar,YSArcUtl.jar,arcicons.jar,SystemTray.jar,JErpIcon.jar,ystools.jar,onyxix_pos.jar,onyxix_hms.jar,commons-logging-1.2.jar,PrintBean.jar,OnyxIXUIBean.jar,CalenderFxBean.jar,ExelBeanJson.jar,ExelBean.jar,keypressed.jar,bean_timer.jar
WebUtilArchive=frmwebutil.jar,jacob.jar
WebUtilLogging=on
WebUtilLoggingDetail=normal
WebUtilErrorMode=Alert
WebUtilDispatchMonitorInterval=5
WebUtilTrustInternal=true
WebUtilMaxTransferSize=16384
logging.file=C:\Temp\3\webutil.log
logging.enabled=TRUE
logging.errorsonly=FALSE
MaxEventwait=2000
networkRetries=0
jpi_download_page=http://java.sun.com/products/archive/j2se/8u121/index.html
jpi_classid=clsid:CAFEEFAC-0018-0000-0121-ABCDEFFEDCBA
jpi_codebase=http:// DATABASE-LABAN:8888/forms/java/jre-8u121-windows-i586.exe#Version=1,8,0,121
jpi_mimetype=application/x-java-applet;jpi-version=1.8.0_121
legacy_lifecycle=false
ssoDynamicResourceCreate=true
ssoErrorUrl=
ssoCancelUrl=
ssoMode=false
ssoProxyConnect=no
allow_debug=false
allowNewConnections=true
EndUserMonitoringEnabled=false
EndUserMonitoringURL=
applet_name=
enableJavascriptEvent=true
JavaScriptBlocksHeartBeat=false